@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #00ba57 !important;
}
.bg-success {
  background-color: #f36f21 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #00ba57 !important;
  border-color: #00ba57 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #006e33 !important;
  border-color: #006e33 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #006e33 !important;
  border-color: #006e33 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a71d2a !important;
  border-color: #a71d2a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a71d2a !important;
  border-color: #a71d2a !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f36f21 !important;
  border-color: #f36f21 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #bd4d0a !important;
  border-color: #bd4d0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #bd4d0a !important;
  border-color: #bd4d0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #005427;
  color: #005427;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #00ba57;
  border-color: #00ba57;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #00ba57 !important;
  border-color: #00ba57 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #921925;
  color: #921925;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #a54309;
  color: #a54309;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #f36f21;
  border-color: #f36f21;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f36f21 !important;
  border-color: #f36f21 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #00ba57 !important;
}
.text-secondary {
  color: #dc3545 !important;
}
.text-success {
  color: #f36f21 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #005427 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #921925 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #a54309 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00ba57;
  border-color: #00ba57;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #00ba57;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3bff96;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdede3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #00ba57;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #00ba57;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #00ba57;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #00ba57;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #00ba57;
  border-bottom-color: #00ba57;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #00ba57 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #dc3545 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2300ba57' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rVLrSMhZIR {
  background-image: url("../../../assets/images/bg1-2000x1318.png");
}
.cid-rVLrSMhZIR P {
  text-align: left;
}
.cid-rVLrSMhZIR .mbr-text,
.cid-rVLrSMhZIR .mbr-section-btn {
  text-align: left;
}
.cid-rVQJz4HEG9 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
  background: linear-gradient(45deg, #232323, #a51c30);
}
.cid-rVQJz4HEG9 .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rVQJz4HEG9 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVQJz4HEG9 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rVQJz4HEG9 .mbr-text {
    text-align: center;
  }
}
.cid-rVRU7D6Cr9 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
@media (max-width: 992px) {
  .cid-rVRU7D6Cr9 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.cid-rVRU7D6Cr9 .text {
  padding: 0;
}
.cid-rVRU7D6Cr9 section {
  position: relative;
}
.cid-rVRU7D6Cr9 h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.cid-rVRU7D6Cr9 .mbr-iconfont {
  padding: 0!important;
}
.cid-rVRU7D6Cr9 .back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #232323;
}
.cid-rVRU7D6Cr9 .box {
  background-image: url("../../../assets/images/ok-1238x663.png");
  background-size: cover;
  background-position: center;
  height: 550px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-rVRU7D6Cr9 .icon-wrap {
  background-color: #00ba57 !important;
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.cid-rVRU7D6Cr9 .icon-wrap:hover {
  transform: scale(1.1);
}
.cid-rVRU7D6Cr9 .icon-wrap span {
  padding-left: 8px;
}
.cid-rVRU7D6Cr9 .mbr-media span {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #ffffff !important;
}
.cid-rVRU7D6Cr9 .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rVRU7D6Cr9 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rVRU7D6Cr9 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rVRU7D6Cr9 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rVRU7D6Cr9 a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rVRU7D6Cr9 a.close:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rVRU7D6Cr9 {
    padding-top: 21px;
    padding-bottom: 14px;
  }
  .cid-rVRU7D6Cr9 .box {
    height: 250px;
  }
  .cid-rVRU7D6Cr9 .row {
    padding: 1rem!important;
  }
}
.cid-rVQU8k3QXE {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-rVQU8k3QXE .container-fluid {
  padding: 0 3rem;
}
.cid-rVQU8k3QXE .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #00ba57, #dc3545);
  display: inline-block;
}
.cid-rVQU8k3QXE .card {
  display: flex;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rVQU8k3QXE .card:hover img {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-rVQU8k3QXE .card .card-wrapper {
  height: 1%;
}
.cid-rVQU8k3QXE .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 10px;
  z-index: 1;
}
.cid-rVQU8k3QXE .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rVQU8k3QXE .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 0;
  left: 0;
  z-index: 1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff3366;
}
.cid-rVQU8k3QXE .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-rVQU8k3QXE .card .card-wrapper .card-box .mbr-section-btn a {
  margin-left: 4px;
}
@media (max-width: 767px) {
  .cid-rVQU8k3QXE .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rVQU8k3QXE .mbr-section-title,
.cid-rVQU8k3QXE .underline {
  text-align: center;
  color: #ffffff;
}
.cid-rVQU8k3QXE .mbr-card-text,
.cid-rVQU8k3QXE .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-rVQU8k3QXE .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rVWl1yVg4Q {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-rVWl1yVg4Q .container-fluid {
  padding: 0 3rem;
}
.cid-rVWl1yVg4Q .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #00ba57, #dc3545);
  display: inline-block;
}
.cid-rVWl1yVg4Q .card {
  display: flex;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rVWl1yVg4Q .card:hover img {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-rVWl1yVg4Q .card .card-wrapper {
  height: 1%;
}
.cid-rVWl1yVg4Q .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 10px;
  z-index: 1;
}
.cid-rVWl1yVg4Q .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rVWl1yVg4Q .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 0;
  left: 0;
  z-index: 1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff3366;
}
.cid-rVWl1yVg4Q .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-rVWl1yVg4Q .card .card-wrapper .card-box .mbr-section-btn a {
  margin-left: 4px;
}
@media (max-width: 767px) {
  .cid-rVWl1yVg4Q .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rVWl1yVg4Q .mbr-section-title,
.cid-rVWl1yVg4Q .underline {
  text-align: center;
  color: #ffffff;
}
.cid-rVWl1yVg4Q .mbr-card-text,
.cid-rVWl1yVg4Q .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-rVWl1yVg4Q .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rVRBXj7TcY {
  background: #232323;
}
.cid-rVRBXj7TcY .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-rVRBXj7TcY .mbr-figure {
  margin: 0 auto;
}
.cid-rVRBXj7TcY figcaption {
  position: relative;
}
.cid-rVRBXj7TcY figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rVRBXj7TcY .image-block {
    width: 100% !important;
  }
}
.cid-rVSVyOIlpX {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-rVQPdKXOsl {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #073b4c;
}
.cid-rVQPdKXOsl .mbr-section-subtitle,
.cid-rVQPdKXOsl .mbr-text {
  color: #767676;
}
.cid-rVQPdKXOsl .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rVQPdKXOsl .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rVQPdKXOsl .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rVQPdKXOsl .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-rVQPdKXOsl .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-rVQPdKXOsl .card-wrapper .card-img img {
  width: 100%;
}
.cid-rVQPdKXOsl .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rVQPdKXOsl .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rVQPdKXOsl .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rVQPdKXOsl .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-rVQPdKXOsl .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rVQPdKXOsl .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-rVQPdKXOsl .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-rVQPdKXOsl .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rVQPdKXOsl .mbr-text {
  text-align: center;
}
.cid-rVQPdKXOsl .card-title {
  text-align: center;
  color: #232323;
}
.cid-rVQPdKXOsl .mbr-section-title {
  color: #ffffff;
}
.cid-rVWevf6l5Q {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #073b4c;
}
.cid-rVR2m3rh3m {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #073b4c;
}
.cid-rVR2m3rh3m .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rVR2m3rh3m .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rVR2m3rh3m .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rVR2m3rh3m .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rVR2m3rh3m .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-rVR2m3rh3m .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-rVR2m3rh3m .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-rVR2m3rh3m .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-rVR2m3rh3m .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #232323 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-rVR2m3rh3m .mbr-gallery-item > div > span {
  color: #ffffff;
}
.cid-rVUxz114AU {
  padding-top: 60px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
.cid-rVUxz114AU .mbr-section-subtitle {
  color: #767676;
  text-align: left;
  line-height: 1.6;
}
.cid-rVUxz114AU .image-element {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.cid-rVUxz114AU .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rVUxz114AU .wrapper {
  padding: 2rem 1rem 1rem 1rem;
}
.cid-rVUxz114AU .card-overlay {
  display: none;
  background: #ffffff;
}
@media (min-width: 768px) {
  .cid-rVUxz114AU .image-element:hover .card-overlay {
    opacity: 0;
    border-bottom-right-radius: 7rem;
  }
  .cid-rVUxz114AU .image-element:hover .wrapper {
    padding-top: 0;
    border-bottom-right-radius: 7rem;
  }
  .cid-rVUxz114AU .image-element:hover .wrapper .collapsed-content {
    transition: opacity 0.5s, max-height 3s;
    opacity: 1;
    max-height: 999px;
    border-bottom-right-radius: 7rem;
  }
  .cid-rVUxz114AU .image-element:hover .wrapper .collapsed-content .mbr-section-btn {
    border-bottom-right-radius: 7rem;
  }
  .cid-rVUxz114AU .image-element.popup-btn:hover .card-overlay {
    border-bottom-right-radius: 0 !important;
  }
  .cid-rVUxz114AU .image-element.popup-btn:hover .wrapper {
    border-bottom-right-radius: 0 !important;
  }
  .cid-rVUxz114AU .image-element.popup-btn:hover .wrapper .collapsed-content {
    border-bottom-right-radius: 0 !important;
  }
  .cid-rVUxz114AU .image-element.popup-btn:hover .wrapper .collapsed-content .mbr-section-btn {
    border-bottom-right-radius: 0 !important;
  }
  .cid-rVUxz114AU .wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: transparent;
  }
  .cid-rVUxz114AU .wrapper .collapsed-content {
    transition: opacity 0.5s, max-height 1s;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
  }
  .cid-rVUxz114AU .card-overlay {
    transition: all .5s;
    opacity: 0;
    display: block;
  }
}
@media (max-width: 767px) {
  .cid-rVUxz114AU .card-title,
  .cid-rVUxz114AU .underline,
  .cid-rVUxz114AU .mbr-text,
  .cid-rVUxz114AU .mbr-section-btn,
  .cid-rVUxz114AU .mbr-section-subtitle,
  .cid-rVUxz114AU .mbr-section-title {
    text-align: center !important;
  }
  .cid-rVUxz114AU .wrapper {
    background-color: #ffffff;
  }
}
.cid-rVUxz114AU .mbr-section-title {
  text-align: left;
}
.cid-rVUxz114AU .mbr-section-title,
.cid-rVUxz114AU .underline {
  text-align: center;
  color: #00ba57;
}
.cid-rVRdPNu8RQ {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #232323;
}
.cid-rVRdPNu8RQ .container-fluid {
  padding: 0 3rem;
}
.cid-rVRdPNu8RQ .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rVRdPNu8RQ .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #00ba57, #dc3545);
  display: inline-block;
}
.cid-rVRdPNu8RQ .title-wrap {
  padding-left: 0;
  padding-right: 0;
}
.cid-rVRdPNu8RQ .image-wrap {
  overflow: hidden;
  width: 100%;
}
.cid-rVRdPNu8RQ .image-wrap img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.cid-rVRdPNu8RQ .image-wrap img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.cid-rVRdPNu8RQ .content-section {
  padding: 3rem;
}
.cid-rVRdPNu8RQ .btn {
  margin-top: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
}
.cid-rVRdPNu8RQ .card-wrapper {
  overflow: hidden;
  margin-top: 1.6rem;
  background-color: #ffffff;
  padding: 0rem;
  z-index: 10;
  border-radius: 15px;
  margin-bottom: 3rem;
}
@media (max-width: 1200px) {
  .cid-rVRdPNu8RQ .container-fluid {
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-rVRdPNu8RQ .container-fluid {
    padding: 0rem;
  }
}
@media (max-width: 439px) {
  .cid-rVRdPNu8RQ .card-wrapper {
    margin-bottom: 0rem;
    border-radius: 0px;
  }
  .cid-rVRdPNu8RQ .title-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.cid-rVRdPNu8RQ .underline,
.cid-rVRdPNu8RQ .mbr-title {
  color: #ffffff;
}
.cid-rVRkACEXDM {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
@media (min-width: 992px) {
  .cid-rVRkACEXDM .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVRkACEXDM .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rVRkACEXDM .mbr-text {
    text-align: center;
  }
}
.cid-rVRkACEXDM H1 {
  color: #00ba57;
}
.cid-rVRkACEXDM H3 {
  color: #232323;
}
.cid-rVRkACEXDM .mbr-text,
.cid-rVRkACEXDM .mbr-section-btn {
  color: #232323;
}
.cid-rVRlWDF0Zg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .cid-rVRlWDF0Zg .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.cid-rVRlWDF0Zg h4,
.cid-rVRlWDF0Zg h5,
.cid-rVRlWDF0Zg p {
  margin-bottom: 0;
}
.cid-rVRlWDF0Zg p {
  color: #767676;
}
.cid-rVRlWDF0Zg .card-wrapper {
  transition: all 0.3s;
  background-color: #ffffff;
}
.cid-rVRlWDF0Zg .card-wrapper .card-box {
  padding: 1.2rem;
}
.cid-rVRlWDF0Zg .card-wrapper:hover {
  box-shadow: 0 10px 55px 5px rgba(228, 96, 109, 0.35);
}
.cid-rVRlWDF0Zg .card-title {
  float: left;
}
.cid-rVRlWDF0Zg .card-link {
  float: right;
}
.cid-rVRlWDF0Zg .card-wrapper {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.cid-rVRlWDF0Zg .card-wrapper .card-title {
  position: relative;
}
.cid-rVRlWDF0Zg .card-wrapper .card-title:after {
  content: "";
  transition: all 0.3s;
  border-bottom: 1px solid currentColor;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
}
.cid-rVRlWDF0Zg .card-wrapper:hover .card-title:after {
  width: 100%;
}
.cid-rVRlWDF0Zg .card-box {
  padding-top: 2rem;
  display: inline-block;
  width: 100%;
}
.cid-rVRlWDF0Zg .card-title,
.cid-rVRlWDF0Zg .main-title {
  color: #149dcc;
}
.cid-rVRlWDF0Zg .main-title {
  text-align: center;
  color: #00ba57;
}
.cid-rVRlWDF0Zg .card-title {
  color: #00ba57;
}
.cid-rVUEfHfsT6 {
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
.cid-rVUEfHfsT6 .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rVUEfHfsT6 .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rVUEfHfsT6 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVUEfHfsT6 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-rVUEfHfsT6 .image-element {
    padding-left: 0;
  }
}
.cid-rVUEfHfsT6 .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-rVUEfHfsT6 .mbr-text {
  color: #cccccc;
  line-height: 27px;
}
.cid-rVUEfHfsT6 .brown {
  color: #00ba57;
}
.cid-rVUEfHfsT6 .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVUEfHfsT6 .paragraphs-wrapper .first-paragraph,
.cid-rVUEfHfsT6 .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-rVUEfHfsT6 .image-element {
    padding-top: 1rem;
  }
  .cid-rVUEfHfsT6 .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rVUEfHfsT6 .paragraphs-wrapper .first-paragraph,
  .cid-rVUEfHfsT6 .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-rVUEfHfsT6 .first-paragraph,
  .cid-rVUEfHfsT6 .second-paragraph {
    width: 50%;
  }
  .cid-rVUEfHfsT6 .first-paragraph {
    padding-right: .5rem;
  }
  .cid-rVUEfHfsT6 .second-paragraph {
    padding-left: .5rem;
  }
  .cid-rVUEfHfsT6 .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-rVUEfHfsT6 .mbr-section-title,
  .cid-rVUEfHfsT6 .mbr-section-btn {
    text-align: left;
  }
}
.cid-rVUEfHfsT6 .mbr-text,
.cid-rVUEfHfsT6 .mbr-section-btn {
  color: #cccccc;
}
.cid-rVUEfHfsT6 .title,
.cid-rVUEfHfsT6 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-rVUEfHfsT6 .title,
.cid-rVUEfHfsT6 .brown {
  color: #ffffff;
}
.cid-rVNoKdGEAh {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
.cid-rVNoKdGEAh .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-rVNoKdGEAh h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rVNoKdGEAh p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-rVNoKdGEAh .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rVNoKdGEAh .mbr-section-btn a {
  margin: 0;
}
.cid-rVNoKdGEAh .mbr-text {
  color: #767676;
}
.cid-rVNoKdGEAh .card-wrapper {
  height: 100%;
  background: #ffffff;
}
.cid-rVNoKdGEAh .card-wrapper .card-box {
  padding: 0 2rem 2rem;
}
@media (max-width: 767px) {
  .cid-rVNoKdGEAh .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rVNoKdGEAh H2 {
  text-align: center;
  color: #232323;
}
.cid-rVNoKdGEAh .mbr-section-subtitle {
  text-align: center;
}
.cid-rVRXQ2kHYk {
  padding-top: 15px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
.cid-rVRXQ2kHYk .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #232323;
  padding: 0;
}
.cid-rVRXQ2kHYk .rev,
.cid-rVRXQ2kHYk .mbr-iconfont {
  display: inline-block;
}
.cid-rVRXQ2kHYk .card-img {
  position: relative;
}
.cid-rVRXQ2kHYk .card:hover .image-btn {
  opacity: 1;
  bottom: 10px;
}
.cid-rVRXQ2kHYk .image-btn {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.cid-rVRXQ2kHYk .card-title {
  color: #232323;
  margin: 0;
  text-align: center;
}
.cid-rVRXQ2kHYk .card-box {
  padding: 1.5rem;
}
.cid-rVRXQ2kHYk .mbr-section-title {
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.cid-rVRXQ2kHYk .mbr-section-sub-title {
  text-align: center;
  color: #767676;
}
.cid-rVRXQ2kHYk .mbr-section-title,
.cid-rVRXQ2kHYk .line-wrap {
  text-align: center;
  color: #232323;
}
.cid-rVRXQ2kHYk .card-text,
.cid-rVRXQ2kHYk .mbr-section-btn,
.cid-rVRXQ2kHYk .ico-line {
  text-align: left;
  color: #767676;
}
.cid-rVRXQ2kHYk .mbr-text,
.cid-rVRXQ2kHYk .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-rVRXQ2kHYk .image-btn {
    opacity: 1;
    bottom: 10px;
  }
}
.cid-rVRXQ2kHYk .mbr-text {
  color: #232323;
}
.cid-rVRwGolxMP {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/hotline-bg-1920x1080.png");
}
.cid-rVRwGolxMP .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-rVRwGolxMP .mbr-section-subtitle {
  color: #444444;
  letter-spacing: 0.03em;
}
.cid-rVRwGolxMP .client-name {
  color: #444;
  letter-spacing: 0.05em;
}
.cid-rVRwGolxMP .wrap-img {
  padding-bottom: 1rem;
}
.cid-rVRwGolxMP .wrap-img img {
  max-width: 100%;
}
.cid-rVRwGolxMP .card-box p {
  color: #444;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-rVNpz3YVeE {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-rVNpz3YVeE .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rVNpz3YVeE .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rVNpz3YVeE .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVNpz3YVeE .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rVNpz3YVeE .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rVNpz3YVeE .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rVNpz3YVeE .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rVNpz3YVeE .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rVNpz3YVeE .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rVNpz3YVeE .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rVNpz3YVeE .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rVNpz3YVeE .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rVNpz3YVeE .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rVNpz3YVeE .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rVNuhtmxFr .navbar {
  background: #232323;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rVNuhtmxFr .navbar-dropdown.bg-color.transparent.opened {
  background: #232323;
}
.cid-rVNuhtmxFr a {
  font-style: normal;
}
.cid-rVNuhtmxFr .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rVNuhtmxFr .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rVNuhtmxFr .nav-item:focus,
.cid-rVNuhtmxFr .nav-link:focus {
  outline: none;
}
.cid-rVNuhtmxFr .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVNuhtmxFr .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rVNuhtmxFr .menu-logo {
  margin-right: auto;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rVNuhtmxFr .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rVNuhtmxFr .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rVNuhtmxFr .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rVNuhtmxFr .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rVNuhtmxFr .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rVNuhtmxFr .dropdown .dropdown-menu {
  background: #232323;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rVNuhtmxFr .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rVNuhtmxFr .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rVNuhtmxFr .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rVNuhtmxFr .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rVNuhtmxFr .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rVNuhtmxFr .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rVNuhtmxFr .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rVNuhtmxFr .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rVNuhtmxFr .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rVNuhtmxFr .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rVNuhtmxFr .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rVNuhtmxFr button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rVNuhtmxFr button.navbar-toggler:focus {
  outline: none;
}
.cid-rVNuhtmxFr button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rVNuhtmxFr button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rVNuhtmxFr button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rVNuhtmxFr button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rVNuhtmxFr button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rVNuhtmxFr nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVNuhtmxFr nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rVNuhtmxFr nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rVNuhtmxFr nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVNuhtmxFr .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVNuhtmxFr .collapsed .btn {
  display: -webkit-flex;
}
.cid-rVNuhtmxFr .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rVNuhtmxFr .collapsed .navbar-collapse.collapsing,
.cid-rVNuhtmxFr .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rVNuhtmxFr .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rVNuhtmxFr .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rVNuhtmxFr .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rVNuhtmxFr .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rVNuhtmxFr .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rVNuhtmxFr .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rVNuhtmxFr .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rVNuhtmxFr .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rVNuhtmxFr .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rVNuhtmxFr .collapsed button.navbar-toggler {
  display: block;
}
.cid-rVNuhtmxFr .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rVNuhtmxFr .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVNuhtmxFr .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rVNuhtmxFr .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rVNuhtmxFr .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rVNuhtmxFr .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rVNuhtmxFr.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVNuhtmxFr img {
    height: 3.8rem !important;
  }
  .cid-rVNuhtmxFr .btn {
    display: -webkit-flex;
  }
  .cid-rVNuhtmxFr button.navbar-toggler {
    display: block;
  }
  .cid-rVNuhtmxFr .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rVNuhtmxFr .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVNuhtmxFr .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rVNuhtmxFr .navbar-collapse.collapsing,
  .cid-rVNuhtmxFr .navbar-collapse.show {
    display: block !important;
  }
  .cid-rVNuhtmxFr .navbar-collapse.collapsing .navbar-nav,
  .cid-rVNuhtmxFr .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rVNuhtmxFr .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rVNuhtmxFr .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rVNuhtmxFr .navbar-collapse.collapsing .navbar-buttons,
  .cid-rVNuhtmxFr .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rVNuhtmxFr .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rVNuhtmxFr .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rVNuhtmxFr .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rVNuhtmxFr .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rVNuhtmxFr .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rVNuhtmxFr .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rVNuhtmxFr .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rVNuhtmxFr .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rVNuhtmxFr .nav-link:hover,
.cid-rVNuhtmxFr .dropdown-item:hover {
  color: #f4f8fa !important;
}
